{{#isBodyParam}}{{>paramDoc}}{{#useBeanValidation}}{{^isArray}} {{>beanValidationBodyParams}}@Valid{{/isArray}}{{#isArray}}{{>beanValidationBodyParams}}{{/isArray}}{{/useBeanValidation}} @RequestBody{{^required}}(required = false){{/required}} {{^reactive}}{{>nullableAnnotation}}{{#isArray}}{{#useBeanValidation}}List<@Valid {{{baseType}}}>{{/useBeanValidation}}{{^useBeanValidation}}{{>optionalDataType}}{{/useBeanValidation}}{{/isArray}}{{^isArray}}{{>optionalDataType}}{{/isArray}}{{/reactive}}{{#reactive}}{{^isArray}}Mono<{{{dataType}}}>{{/isArray}}{{#isArray}}Flux<{{{baseType}}}>{{/isArray}}{{/reactive}} {{paramName}}{{/isBodyParam}}